/build
/dist
/classes
bin/

*.idea
*.iml
*.class
*.apk
*.swap
*.xsl
time-spark/out

.idea
*.war
.settings/
*.pyc
.metadata
*.classpath

.project
target/
.settings/
.metadata/
*/.DS_Store
*.DS_Store
.recommenders/
/datatransfer/src/main/resources/*.properties
